

body {
	padding: 20px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
    background: url(../images/Background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content {
	padding: 10px 40px 40px 40px;
	background-color: #c7e1f3;
	border-radius: 8px;
	max-width: 800px;
	margin-right:auto;
	margin-left:auto;
}


h1 {
    font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 10px 0 10px 0;
	clear:both;
}

div.sessionData {
	float:right;
	clear:both;
	height:1px;

}

.message {
	margin-right:auto;
	margin-left:auto;
	max-width: 600px;
	background-color: beige;
	border: 1px solid #666;
	padding:6px 20px 6px 20px;
}

.welcome {
	margin-bottom: 30px;
}

form label {
	display: block;
	float: left;
	width: 80px;
    border: 1px;
}

.inputText{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #f2f2f2;
    transition: box-shadow 0.3s, border 0.3s;
    box-shadow: 0 0 2px 1px #c7d6ff;
}


.hideIfNoDeviceSelected {
	visibility: hidden;
    word-wrap: break-word;
}

a {
  color: #000000;
  padding-bottom: 8px;
}

textarea {
    resize: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #f2f2f2;
    transition: box-shadow 0.3s, border 0.3s;
    box-shadow: 0 0 2px 1px #c7d6ff;
}

#configList #logs table {
    table-layout:fixed;
	width:100%;
}
#configList #logs table th {
	text-align:center;
    table-layout: fixed;
}
#configList #logs table td {
    table-layout: fixed;
	overflow: hidden;
	text-overflow: ellipsis;
    width:100%;
    word-wrap: break-word;
}


#page {
    display: none;
}

.tabs {
    display:inline-block;
    width:100%;
}

.tab-lists:after {
    clear:both;
    content:'';
    display:block;
}
.tab-lists li {
    float:left;
    list-style:none;
    margin:0px 6px;
}

.tab-lists a {
    display:inline-block;
    background: #ffffff;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
    transition: all linear 0.2s;
    border-radius: 3px 3px 0px 0px;
    padding:9px 15px;
}

.tab-lists a:hover {
    background: #f5f5f5;
    text-decoration:none;
}
li.active a, li.active a:hover {
    background: #c7e1f3;
    color: #000000;
}

.tabcontent {
    background: #ffffff;
    padding: 15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(255, 249, 230, 0.15);
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

/* Taken from http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html */
.buttons, select {
    /* Size and position */
    position: relative;
    width: auto;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #ffffff;
    border-radius: 7px;
    border: 2px solid #f2f2f2;
    box-shadow: 0 1px 1px #c7d6ff;
    cursor: pointer;
    outline: none;

    /* Font settings */
    color: #000000;
}

.buttons:hover, select:hover {
    /* Size and position */
    position: relative;
    width: auto;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #f5f5f5;
    border-radius: 7px;
    border: 2px solid #f2f2f2;
    box-shadow: 0 1px 1px #c7d6ff;
    cursor: pointer;
    outline: none;

    /* Font settings */
    color: #000000;
}

