p Advanced features.

.tabs
  ul.tab-lists
    li.active
      a(href='#network') Network
    li
      a(href='#wireless') Wireless
    li
      a(href='#services') Services
  .tabcontent
    #network.tab.active
      include ./network.jade

    #wireless.tab
      include ./wireless.jade
    #services.tab
      include ./services.jade

