| Add another user's e-mail to delegate the rights to manage the router. The user will then have 24 hours to change the configuration:
br
input(type='email', class='inputText', name='delegateduser', id='delegateduser', value='')
input(type='submit', class='buttons', value='Add as administrator', onclick='delegation()')


p#delegationstatus

| Add another user's e-mail to make him owner of the device. Select whether to share the configuration history or not.
br
br
input(type='email', class='inputText', name='newowner', id='newowner', value='')
br
| Do you want to share the configuration history?
select(name='sharehistory', id='sharehistory')
    option(value='yes', name='sharehistory') Yes
    option(value='no', name='sharehistory') No
input(type='submit', class='buttons', value='Add as new owner', onclick='changeownership()')

p#ownershipstatus