p Expert users only. Use at your own risk.
#configList
  table(style="width: 100%; table-layout: fixed")
    thead.hideIfNoDeviceSelected
      th(style="width: 45%;") Key
      th(style="width: 45%;") Value
      th
    thead.hideIfNoDeviceSelected
      form(name="addConfig" id="addConfig" action="" method="post")
        th
          input(type="text" name="key")
        th
          input(type="text" name="value")
        th
          input(type="submit" value="+")
    tbody


