extends layout

block content


	#wrapper
		| Select the device:
		select#deviceList(name='deviceList', class='select')
			option(value="", class='select')
				| Select device
		div.hideIfNoDeviceSelected
			| Allow off-band:
			input(type="checkbox" name="allowOffBand" id="allowOffband" value="1")
			p#routerversion
			p#osversion

	.tabs#tabs
		ul.tab-lists
			li.active
				a(href='#easysetup') Easy Setup
			li
				a(href='#normal') Normal
			li
				a(href='#advanced') Advanced
			li
				a(href='#expert') Expert
			li
				a(href='#other') Other
		.tabcontent
			#easysetup.tab.active
				p Most common configurations. The router will use the default configurations and WPA for the wireless password.
					table(name='easyTable', class='mainTables')
						tr
							td Wireless name:
							td
								input(type='text', class='inputText', name='wirelessname', id='easywlname', value='')
						tr
							td Wireless password:
							td
								input(type='text', class='inputText', name='wpawirelesspw', id='easywlpw', value='')
						tr
							td
								input(type='submit', class='buttons', value='Apply', onclick='easy()')
						tr
							td
								p#easyresult
			#normal.tab
				include ./normal.jade
			#advanced.tab
				include ./advanced.jade
			#expert.tab
				include ./expert.jade
			#other.tab
				include ./other.jade
		br
		br


	table(name='mainTables')
		tr
			td
				input(type='submit', class='buttons', value='Reboot' onclick="reboot()" id="reboot")