doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery-2.1.3.min.js')
		script(src='/javascripts/global.js')

		// http://jsfiddle.net/MrPolywhirl/cbLsc81f/


script
			| var deviceFingerprint = "#{deviceFingerprint}";
	body
		div.content
			if(session.passport.user)
				div.sessionData
					| #{session.passport.user.username} |
					a(href="/logout")
						| Logout
					| 	 |
					a(href="/auth/changepw")
						| Change Password

			.name
				ul.name
						img(width='500', height='80', src='../../images/Header.jpg')
			if deviceFingerprint
				div(style="text-align:center") Connecting through #{deviceFingerprint}

			hr
			p.welcome

			if message.length > 0
				div.message #{message}



			block content