extends layout

block content
	h2 Login with an existing account

	form(name="login", action="/login", method="post", id="login")
		table(name='login', class='mainTables')
			tr
				td
					div.formElement
						label(for="username")
							| Email:
						input(type="text", name="username", class='inputText')
			tr
				td
					div.formElement
						label(for="password")
							| Password:
						input(type="password", name="password", class='inputText')
			tr
				td
					div.formElement
						input(type="submit", value="Login", class='buttons')

	table(name='login', class='mainTables')
		tr
			td
				form(name="showsignup", action="/auth/signup", method="get", id="showsignup")
					input(type="submit", value="Sign Up", class='buttons')
			td
				form(name="facebook", action="/auth/facebook", method="get", id="facebook")
					input(type="submit", value="Facebook Login", class='buttons')


