table(name='normalTable', class='mainTables')
    tr
        td Router name:
        td
            input(type='text', name='routername', class='inputText')
    tr
        td Hostname:
        td
            input(type='text', name='hostname', class='inputText')
    tr
        td Domain Name:
        td
            input(type='text', name='domainname', class='inputText')
    tr
        td MTU:
        td
            input(type='text', name='mtu', class='inputText')
        td
            select
                option(value='auto') Auto
                option(value='manual') Manual
    tr
        td
            br
            br
            | Network Configuration:
            br
            br
    tr
        td Local IP Address:
        td
            input(type='text', name='localip', class='inputText')
    tr
        td Subnet Mask:
        td
            input(type='text', name='subnetmask', class='inputText')
    tr
        td Default Gateway:
        td
            input(type='text', name='defaultgw', class='inputText')
    tr
        td Local DNS:
        td
            input(type='text', name='localdns', class='inputText')
    tr
        td
            br
            | Access Point:
            input(type='radio', name='ap', value='yes', checked='checked')
            | Yes
            input(type='radio', name='ap', value='no')
            | No
    tr
        td
            br
            | DHCP:
            input(type='radio', name='dhcp', value='yes', checked='checked')
            | Enable
            input(type='radio', name='dhcp', value='no')
            | Disable

    tr
        td Start IP Address:
        td
            input(type='text', name='dhcpip', class='inputText')

    tr
        td Maximum DHCP Users:
        td
            input(type='text', name='maxdhcp', class='inputText')
    tr
        td Client Lease Time:
        td
            input(type='text', name='leasedhcp', class='inputText')
    tr
        td Static Dns 1:
        td
            input(type='text', name='sdnsone', class='inputText')
    tr
        td Static Dns 2:
        td
            input(type='text', name='sdnstwo', class='inputText')
    tr
        td Static Dns 3:
        td
            input(type='text', name='sdnsthree', class='inputText')
    tr
        td
            input(type='submit', class='buttons', value='Apply', onclick='advanced()')
