extends layout
block content
   h2 Login with an existing account
   form(name="newpassword", action="/auth/newpassword", method="post", id="newpassword")
      table(name='changePwTable', class='mainTables')
         tr
            td
               div.formElement
                  label(for="oldpassword")
                     | Old Password:
            td
               input(type="password", name="oldpassword", class='inputText')
         tr
            td
               div.formElement
                  label(for="New password")
                     | New password:
            td
               input(type="password", name="password", class='inputText')
         tr
            td
               div.formElement
                  label(for="Confirm new password")
                     | Confirm new password:
            td
               input(type="password", name="confirmpassword", class='inputText')
         tr
            td
               div.formElement
                  input(type="submit", value="Change Password", class='buttons')


