p Normal configurations required for everyday operation of the router.
    table(name='normalTable', class='mainTables')
        tr
            td Hostname:
            td
                input(type='text', class='inputText', name='hostname', id='Hostname')
        tr
        tr
            td
        tr
            td
            td Network Configuration:
        tr
            td
        tr
            td
        tr
            td Local IP Address:
            td
                input(type='text', class='inputText', name='localip', id='localip')
        tr
            td Subnet Mask:
            td
                input(type='text', class='inputText', name='subnetmask', id='subnetmask')
        tr
            td Default Gateway:
            td
                input(type='text', class='inputText', name='defaultgw', id='defaultgw')
        tr
            td Local DNS:
            td
                input(type='text', class='inputText', name='localdns', id='localdns')
        tr
            td Access Point:
            td
                input(type='radio', name='ap', value='yes', checked='checked')
                | Yes
                input(type='radio', name='ap', value='no')
                | No
        tr
            td
        tr
            td
            td Wireless Configuration:
        tr
            td
        tr
            td

        tr
            td Wireless Name (SSID):
            td
                input(type='text', class='inputText', name='wirelessname', id='normalwlname')
        tr
            td Wireless password:
            td
                input(type='text', class='inputText', name='wirelesspw', id='normalwlpw')
            td
                select(name='wlpasswtype', id='wlpasswtype', class='select')
                    option(value='none') None
                    option(value='wep') Wep (Not suggested)
                    option(value='wpa' selected='selected') Wpa/Wpa2 personal
        tr
            td Wireless Network Mode
            td
                select(name='wlnetmode', id='wlnetmode', class='select')
                    option(value='disabled') Disabled
                    option(value='b') b
                    option(value='g', selected='selected') g
                    option(value='n') n
                    option(value='ac') ac

        tr
            td Wireless SSID Broadcast:
            td
                input(type='radio', name='ssidbcast', value='yes', checked='checked')
                | Enable
                input(type='radio', name='ssidbcast', value='no')
                | Disable
        tr
            td
                input(type='submit', class='buttons', value='Apply', onclick='normalFunc()')
        tr
            td
                p#normalresult