
.tabs
    ul.tab-lists
        li.active
            a(href='#commands') Shell Commands
        li
            a(href='#history') History
        li
            a(href='#delegation') Delegate rights
        li
            a(href='#debugging') Debug
        li
            a(href='#devicelogs') Logs

    .tabcontent
        #devicelogs.tab
            p The log file contains these informations:s
                #logs
                    table(border=1)
                        colgroup
                            col.col1(span="1")
                            col.col2(span="1")
                            col.col3(span="1")
                            col.col4(span="1")
                        thead
                            th DeviceId
                            th AlertCode
                            th Message
                            th Timestamp
                        tbody
        #commands.tab.active
            br
            | Execute shell commands in the device.
            br
            br
            br
            textarea(name='commands', id='commandArea', rows='4', cols='90', placeholder='Type the command')
            textarea(name='output', rows='4', cols='90', placeholder='Wait for the output')
            br
            br
            input(type='submit', class='buttons', value='Run', onclick='command()', id ='command')
            br
            br
            p#commandresult

        #history.tab
            | Restore previous configuration:
            br
            br
            br
            select#historyList(name='historyList')
                option(value="")
                    | Select previous configuration
            input(type='submit', class='buttons', value='Restore Configuration', onclick='restoreConfig()')
            br
            br
            p#histresult

        #delegation.tab
            include ./delegation.jade

        #debugging.tab
            input(type='submit', class='buttons', value='Download debugging information', onclick='requestDebugInfo()' )
            p#filenames
            #filenamesTable
                table
                    colgroup
                        col.col1(span="1")
                    thead
                        th
                    tbody