extends layout

block content
	div(style="text-align:center")

	form(name="createAccount", action="/registerDevice/createAccount", method="post", id="createAccount")
		h2 Create a new account
		div.formElement
			label(for="username")
				| Email:
			input(type="text", name="username", class='inputText')
		div.formElement
			label(for="password")
				| Password:
			input(type="password", name="password", class='inputText')
		div.formElement
			input(type="submit", value="Create account", class='buttons')


	form(name="login", action="/registerDevice/login", method="post", id="login")
		h2 Login with an existing account
		div.formElement
			label(for="username")
				| Email:
			input(type="text", name="username", class='inputText')
		div.formElement
			label(for="password")
				| Password:
			input(type="password", name="password", class='inputText')
		div.formElement
			input(type="submit", value="Login", class='buttons')

