table(name='servicesTable', class='mainTables')
    tr
        td Secure Shell
    tr
        td SSHd:
        td
            input(type='radio', name='sshd', value='yes')
            | Enable
            input(type='radio', name='sshd', value='no')
            | Disable
    tr
        td Password login:
        td
            br
            input(type='radio', name='sshpw', value='yes')
            | Enable
            input(type='radio', name='sshpw', value='no')
            | Disable

    tr
        td Port:
        td
            input(type='text', name='sshport', class='inputText')
    tr
        td Authorized keys:
        td
            input(type='text', name='sshkeys', class='inputText')
    tr
        td
            input(type='submit', class='buttons', value='Apply', onclick='servicesFunc()')
    tr
        td
            p#servicesresult