extends layout
block content
    div(style="text-align:center")
    form(name="signup", action="/auth/signup", method="post", id="signup")
        h2 Create a new account
        div.formElement
            label(for="username")
                | Email:
            input(type="text", name="username", class='inputText')
        div.formElement
            label(for="password")
                | Password:
            input(type="password", name="password", class='inputText')
        div.formElement
            input(type="submit", value="Create account", class='buttons')