table(name='wirelessTable', class='mainTables')
    tr
        td Wireless Configuration:
    tr
        td Wireless Name (SSID):
        td
            input(type='text', name='wirelessname', class='inputText')
    tr
        td Wireless password:
        td
            input(type='text', name='wirelesspw', class='inputText')
            select(name='wlpasswtypeadv', id='wlpasswtypeadv', class='select')
                option(value='none') None
                option(value='wep') Wep (Not suggested)
                option(value='wpa' selected='selected') Wpa/Wpa2 personal
    tr
        td Wireless Network Mode:
        td
            select(name='wlnetmodeadv', id='wlnetmodeadv', class='select')
                option(value='b') b
                option(value='g', selected='selected') g
                option(value='n') n
                option(value='ac') ac
    tr
        td Wireless Channel:
        td
            select(name='channel', id='wlchannel', class='select')
                option(value='ch1') 1 - 2412 MHz
                option(value='ch2') 2 - 2417 MHz
                option(value='ch3') 3 - 2422 MHz
                option(value='ch4') 4 - 2427 MHz
                option(value='ch5') 5 - 2432 MHz
                option(value='ch6') 6 - 2437 MHz
                option(value='ch7') 7 - 2442 MHz
                option(value='ch8') 8 - 2447 MHz
                option(value='ch9') 9 - 2452 MHz
                option(value='ch10') 10 - 2457 MHz
                option(value='ch11') 11 - 2462 MHz
                option(value='ch12') 12 - 2467 MHz
                option(value='ch13') 13 - 2472 MHz
    tr
        td Wireless SSID Broadcast:
        td
            input(type='radio', name='ssidbcast', value='yes', checked='checked')
            | Enable
            input(type='radio', name='ssidbcast', value='no')
            | Disable
    tr
        td ath0 - MAC Filter
        td
            input(type='radio', name='macfilter', value='yes')
            | Enable
            input(type='radio', name='macfilter', value='no')
            | Disable
    tr
        td
            input(type='submit', class='buttons', value='Apply', onclick='wirelessFunc()')
    tr
        td
            p#wirelessresult

